<?php
namespace Architect\ORM;

/**
 * Architect\ORM\Config
 *
 * @category ORM
 * @package Architect
 * @subpackage ORM
 * @author Rob Lowcock <rob.lowcock@gmail.com>
 */
class Config
{
    const DB_HOST = 'localhost';
    const DB_USER = 'root';
    const DB_PASS = 'yourpassword';
    const DB_DATABASE = 'architect';

    const DB_DRIVER = 'pdo_mysql';
}
