<?php
namespace Architect\ORM;

/**
 * Architect\ORM\Config
 *
 * ORM example config file
 *
 * @category ORM
 * @package Architect
 * @subpackage ORM
 * @author Rob Lowcock <rob.lowcock@gmail.com>
 */
class Config implements ConfigInterface
{
    public function getDbConfig()
    {
        return array(
            'host' => 'localhost',
            'username' => '',
            'password' => '',
            'database' => 'architect',
            'driver' => 'pdo_mysql',
        );
    }
}
